.header__lang-link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.17;
  color: inherit;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:not(:last-of-type) {
  margin: 0 15px 0 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 20px;
  }
}
