.header {
  width: calc(100% - 96px);
  min-height: 52px;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .header {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 940px) {
  .header {
    width: calc(100% - 70px);
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 840px) {
  .header {
    width: calc(100% - 53px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
  }
}
