.place__paragraph {
  font-size: 1.125rem;
  line-height: 163%;
  margin: 0;
}

.place__paragraph:not(:last-of-type) {
  margin-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding-left: 16px;
  }
}
